body {
    background-color: #efeee7;
    font-family: "Georgia",Times New Roman,Times,serif;
    color: #333333;
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
}

header {
	background-color: #333333;
}

h1 {
	color:#eee;
	font-size: 28px;
	text-align: center;
    padding: 20px;
}

h2 {
	font-size: 24px;
}

.container {
	width: 1024px;
	margin: 0 auto;
}

#bio-image {
    position: relative;
    float: left;
	width: 200px;
    margin-right: 20px;
}

.bio-name{
    position: absolute;
    bottom: 0;
}

#main-bio {
    float: left;
	width: 70%;
	line-height: 150%;
}

#contact-info {
    float: left;
	width: 30%;
	line-height: 150%;
}

a {
	color: #d21034;
}

.figure {
    position: relative;
}

